<article class="edit-quote">
  <h2>
    Edit Quote
  </h2>
  <form class="edit-quote-form">
    <div>
      <input name="quote" type="text" value="{{quote.quote}}" id="edit-quote-input"/>
    </div>
    <div>
      {{format_date quote.created_at}}
      |
      <a href="/quote/{{quote.id}}">{{quote.comments.length}}
        {{format_plural "comment" quote.comments.length}}</a>
    </div>
    <button type="submit">Save Quote</button>
    <button type="button" class="delete-quote-btn">Delete Quote</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>

{{> comments quote.comments}}

<script src="/javascript/edit-quote.js"></script>
<script src="/javascript/delete-quote.js"></script>
<script src="/javascript/comment.js"></script>